@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #1f2937;
}

.menu {
  max-width: 75vw;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

li {
  list-style: none;
}

.hero {
  max-width: 75vw;
  margin: auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  color: #f9faf8;
  font-weight: 900;
}

.hero-subtext {
  color: #e5e7eb;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding: 37px 0px 60px 0px;
  align-items: center;
}

h2 {
  margin-bottom: 30px;
}

.info-items {
  max-width: 75vw;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-icon {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.info-item p {
  text-align: center;
  max-width: 150px;
}

blockquote {
  max-width: 50vw;
  margin: auto;
}

.cta {
  max-width: 75vw;
  margin: auto;
}